@using QuanLyCuaHangDoChoiOnline.Models
@model dynamic

@{
    ViewData["Title"] = "DeleteOrder";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<h1>Chi tiết</h1>

<div>
    <h4>Thông tin đơn hàng</h4>
    <hr />
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="col-md-2"></th>
                            <th class="col-md-6">
                                Tên đồ chơi
                            </th>
                            <th class="col-md-4">
                                Số lượng
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in @Model.orderItem)
                        {
                            <tr>
                                @foreach (var toy in Model.lstToy)
                                {
                                    if (item.ToyID == toy.ToyID)
                                    {
                                        <td>
                                            <span class="image">
                                                <img src="/images/@toy.Image" height="120" width="110" alt="" />
                                            </span>
                                        </td>
                                        <td>
                                            @toy.ToyName
                                        </td>
                                    }
                                }
                                <td>
                                    @item.Quantity
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <label class="col-sm-5">
                    Mã đơn hàng: 
                </label>
                <div class="col-sm-3">
                    @Model.infoOrder.InfoOrderID
                </div>
                <label class="col-sm-5">
                    Tên: 
                </label>
                <div class="col-sm-5">
                    @Model.infoOrder.Name
                </div>
                <label class="col-sm-5">
                    Email:
                </label>
                <div class="col-sm-3">
                    @Model.infoOrder.Email
                </div>
                <label class="col-sm-5">
                    Số điện thoại: 
                </label>
                <div class="col-sm-3">
                    @Model.infoOrder.Phone
                </div>
                <label class="col-sm-5">
                    Địa chỉ: 
                </label>
                <div class="col-sm-6">
                    @Model.infoOrder.Address
                </div>
                <label class="col-sm-5">
                    Tổng tiền: 
                </label>
                <div class="col-sm-6">
                    @string.Format("{0:N0} đ", Model.infoOrder.TotalPrice)
                </div>
                <label class="col-sm-5">
                    Trạng thái: 
                </label>
                <div class="col-sm-5">
                    @Model.infoOrder.Status
                </div>
                <div class="col-sm-5">
                    <a class="button" href="@Url.Action("EditOrder",new { id = @Model.infoOrder.InfoOrderID })">Sửa</a>
                </div>
                
            </div>
        </div>
    </div>
       
  
    <br />
    <a asp-action="ManagerOrder">Quay lại danh sách</a>
</div>
